@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(web-fonts/NotoSans.woff) format('woff');
}

.title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.75rem;
}

.icon {
  font-size: 2.5rem;
}

.blurrable {
  filter: blur(10px);
}