fa-modifier(fa-scale='states.screenScale' fa-origin='[0.5, 0.5]' fa-align='[0.5, 0.5]')
  fa-view(fa-pipe-from='evt', fa-click='handleClick($event)')
    fa-surface#background(fa-z-index='100', fa-background-color='\'#333\'', fa-pipe-to='evt')
    fa-modifier(fa-translate='states.titleTranslate')
      fa-surface.title.blurrable(fa-z-index='200', fa-color='\'white\'') Untidy
    fa-modifier(fa-translate='states.hamburgerTranslate')
      fa-surface#hamburgerbg.blurrable(fa-z-index='200', fa-background-color='\'#FF9C2F\'', fa-size='[40, 40]')
      fa-surface#hamburger.hamburger.blurrable(fa-z-index='201', fa-color='\'white\'', fa-size='[true, true]', fa-pipe-to='evt')
        i(class='fa fa-bars icon-sm')
    fa-modifier(fa-translate='states.arrowTranslate')
      fa-surface#arrowbg.blurrable(fa-z-index='200', fa-background-color='\'white\'', fa-size='[40, 40]')
      fa-surface#arrow.arrow.blurrable(fa-z-index='201', fa-color='\'#333\'', fa-size='[true, true]', fa-pipe-to='evt')
        i(class='fa fa-angle-right icon-sm')
    fa-modifier(fa-translate='states.searchTranslate')
      fa-surface#search.blurrable(fa-z-index='200', fa-background-color='\'white\'', fa-size='[280, 30]', fa-color='\'#222\'', fa-pipe-to='evt')
        i(class='fa fa-search') searchbar
    fa-modifier(fa-translate='states.barsTranslate')
      fa-modifier(ng-repeat='bar in bars', fa-translate='bar.translate' fa-opacity='bar.opacity', fa-rotate-z='bar.rotate')
        fa-surface.icon.blurrable(fa-z-index='300', fa-background-color='bar.bgCol', fa-size='[undefined, 80]')