<fa-modifier fa-translate="[trans.get()*300 - 300, 0, 0]" fa-origin="[0.5, 0.5]" fa-align="[0.5, 0.5]">
  <fa-view fa-pipe-from="evt" fa-click="flip()">
    <fa-flipper id="flipper">
      <fa-view>
        <fa-surface fa-background-color="'#FF0000'" fa-pipe-to="evt">demo</fa-surface>
        <fa-modifier fa-origin="[1, 0.8]" fa-align="[0.5, 0.5]">
          <fa-surface fa-background-color="'#333'" fa-size="[50, 50]">icon</fa-surface>
        </fa-modifier>
      </fa-view>
      <fa-view>
      <fa-surface fa-background-color="'#0000FF'" fa-pipe-to="evt">Back</fa-surface>
      </fa-view>
    </fa-flipper>
  </fa-view>
</fa-modifier>
